.button {
  width: 100px;
  height: 40px;
  align-self: flex-end;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  background: rgb(209, 199, 199);
  font-family: "Montserrat";
}
.button:hover {
  background: rgb(209, 199, 199);
  color: white;
  cursor: pointer;
}
@media (max-width: 576px) {
  .button {
    margin-top: 10px;
    width: 100%;
  }
}
